#barraAzul{
    background-color: #063971;
    height: 30px;
}


header{
    width: 100%;
    padding: 0px;
    text-align: center;
    margin: 20px 0;
}

header > p,
header > figure{
    display: inline-block;
    width: 33%;
    text-align: center;
    vertical-align: middle;
    height: 100%;
    padding: 0px;
}

header > figure{
    border: 2px #ccc solid;
    border-top: none;
    border-bottom: none;

}

header >p {
    font-size: 1.2em;
    font-weight: bolder;
    color: #063971;
}

header > figure > img{
    width: 100%;
    max-width: 200px;
}




/********************************************  FOOTER   **********************************************************************/



footer{
    background-color: #063971;
    position: relative;
    text-align: center;
    padding: 40px 0px;
    padding-top: 0;
    margin-top: 15%;
    color: white;
}

footer>p#fContactanos{
    background-color: green;
    font-size: 1.3em;
    font-weight: 50;
    padding: 10px 0px;
}


footer>div p a,
footer>div p a:hover{
    color: white;
}


footer>ul#redes2{
    list-style: none;
    color: white;
    width: 60%;
    padding: 0px;
    margin: auto;
}

footer>ul#redes2  li{
    display: inline-block;
    color: white;
    width: 23%;
    font-size: 1.5em;
    padding: 10px;
}

footer>ul#redes2  li a{
    color: white;
}







@media only screen and (max-width:800px) {
    header > p{
        width: 20%;
    }
    header > figure{
        width: 60%;
    }
}

@media only screen and (max-width:630px){
    header > p{
        display: none;
    }
    header figure{
        border: none;
        width: 100%;
    }

    header figure img{
        max-width: none;
        width: 40%;
    }
}
